html, body, main {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

a {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

a:visited {
  color: white;
}

.home {
	text-align: center;

}

.home-logo {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10%;
	margin-bottom: 2px;
}

.home-logo img {
	width: 100%;
	height: inherit;
}

.reading h1 {
	font-size: 40px;
	font-family: "Playfair Display", sans-serif;
	font-weight: 500;
	margin-bottom: 5%;
}

.task h1 {
	font-size: 40px;
	font-family: "Playfair Display", sans-serif;
	font-weight: 500;
	margin-bottom: 5%;
}

.overview h1 {
	font-size: 40px;
	font-family: "Playfair Display", sans-serif;
	font-weight: 600;
	margin-bottom: 5%;

}

.overview-text-box {
	font-size: 18px;
	font-weight: 500;
	background-color: #F36B4C;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 1%;
	margin-top: 1%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 10px;
}

.reading-button {
	background-color: #357FBC;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 25px;
	font-family: arial;
	border-radius: 10px;

}

.reading-button a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.overview-button {
	background-color: #F54F29;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10%;
	margin-top: 3%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 25px;
	font-family: arial;
	border-radius: 10px;
}

.overview-button a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.task-button {
	background-color: #79D0F2;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	padding-top: 20px;
	margin-bottom: 10%;
	padding-bottom: 20px;
	font-size: 25px;
	font-family: arial;
	border-radius: 10px;

}

.task-button a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.stopwatch-time {
	font-size: 50px;
}

.stopwatch-time-text{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;
	font-size: 16px;
	font-family: "Playfair Display";
}

.home-button {
	font-size: 40px;
	margin-top: 5%;
	max-width: 100%;
}

.home-button a {
	margin-left: 5%;
	color: black;
}

button.stopwatch-button-start {
	color: #fff;
	background-color: green;
	border: 0px;
	margin-right: 3%;
	font-size: 30px;
}

button.stopwatch-button-stop {
	color: #fff;
	background-color: red;
	border: 0px;
	margin-right: 3%;
	font-size: 30px;
}

button.stopwatch-button-reset {
	color: #fff;
	background-color: black;
	border: 0px;
	font-size: 30px;
}

button.stopwatch-form-submit {
	background-color: black;
	color: white;
	border: 0px;
	margin-top: 5%;

}

label.stopwatch-form-label {
	font-size: 20px;
	font-weight: 500;

}

.stopwatch-form-input {
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
}

.icon-wrapper img {
	width: 3em;
	height: 3em;
	float: left;
	filter: invert(100%);
}

.icon-wrapper-text p {
	margin-bottom: 0;	
	padding-right: 20%;
	padding-top: 2%;
}

.icon-wrapper-rev img {
	width: 3em;
	height: 3em;
	float: right;
	filter: invert(100%);
}

.icon-wrapper-text-rev p {
	margin-bottom: 0;	
	padding-left: 20%;
	padding-top: 2%;
	word-wrap: break-word;
}

li.list-group-item {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 2em;
	padding: 0 0 0 0;
	background-color: lightblue;
}

.task-item {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

.task-item .task-item-task {
	float: left;
}

.task-item .task-item-complete {
	float: right;
}